.contactSectionLayout {
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 1200px) {
  .contactSectionLayout {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.contactSectionTitle {
  padding-bottom: 10px;
}

.contactSectionBody {
  padding-left: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}

.contactSectionBodyGroup {
  padding: 5px;
}

.contactSectionBodyLink {
  text-decoration: underline;
}
.contactSectionBodyLink:hover {
  color: orange;
  transition: color 0.5s;
}
